@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Restaurant>

<h2>Restaurants</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Cuisine Type</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Saved To Favorites</th>
    </tr>

    @foreach (var restaurant in @Model)
    {
        <tr>
            <td>@restaurant.ID</td>
            @*<td>@restaurant.Name</td>*@
            <td><a href=/Restaurant/ViewRestaurant/@restaurant.Name>@restaurant.Name</a></td>
            <td>@restaurant.CuisineType</td>
            <td>@restaurant.Address</td>
            <td>@restaurant.City</td>
            <td>@restaurant.State</td>
            <td>@restaurant.Favorite</td>

        </tr>
    }

</table>