@model List<Restaurant>

<h2>Restaurants</h2>

<div class="text-center">
    <h1 class="display-4">Generate Restaurants</h1>
    <p>Enter your zipcode below to get restaurants in your area.</p>
</div>


<div style="width: 20%; margin: 0 auto" class="text-center">
    <div class="form-row align-items-center">
        @using (Html.BeginForm("Index", "Restaurant", FormMethod.Get))
            {
            <div class="form-group">
                <input type="text" name="zipCode" class="form-control text-center" maxlength="5" />
            </div>
            <br />

            <input type="submit" value="Enter" class="btn btn-primary"/>
            }
    </div>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Cuisine Type</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Action</th>
    </tr>

    @foreach (var restaurant in Model)
    {
        <tr>
            @*<td>@restaurant.RestID</td>*@
            <td><a href=/Restaurant/ViewRestaurant/@restaurant.RestID>@restaurant.RestID</a></td>

            <td>@restaurant.Name</td>
            <td>@restaurant.CuisineType</td>
            <td>@restaurant.Address</td>
            <td>@restaurant.City</td>
            <td>@restaurant.State</td>
            <td><a href=/Favorite/InsertFavorite/@restaurant.RestID>Add to Favorites</a></td>
        </tr>
    }
</table>

<div style="width: 20%; margin: 0 auto" class="text-center">
    <div>
        <input type="button" value="Return to Home" onclick="window.location.href='@Url.Action("Index", "Home" )';" />
    </div>
</div>