@model List<Restaurant>

<h2>Favorites</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Cuisine Type</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Action</th>
    </tr>

    @foreach (var favorite in @Model)
    {
        <tr>
            <td>@favorite.RestID</td>
            <td>@favorite.Name</td>
            <td>@favorite.CuisineType</td>
            <td>@favorite.Address</td>
            <td>@favorite.City</td>
            <td>@favorite.State</td>
            <td><a href=/Favorite/DeleteFavorite/@favorite.RestID>Remove from Favorites</a></td>
        </tr>
    }
</table>

<div style="width: 20%; margin: 0 auto" class="text-center">
    <div>
        <input type="button" value="Return to Home" onclick ="@Url.Action("Index", "Home")"/>
    </div>
</div>