@model Restaurant

<h3>Favorite Information</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Cuisine Type</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
    </tr>

    <tr>
        <td>@Model.RestID</td>
        <td>@Model.Name</td>
        <td>@Model.CuisineType</td>
        <td>@Model.Address</td>
        <td>@Model.City</td>
        <td>@Model.State</td>
    </tr>
</table>

